#footer.span-24.last
  %p.span-22.prepend-1.append-1
    = PLANETOID_CONF[:site][:footer][:content]
.span-24.last
  %center
    %small
      Proudly powered by
      %strong
        %a{ :href => "http://github.com/jaimeiniesta/planetoid" }
          Planetoid
